html
	block vars
		- var title = "myrp design kit"
	head
		title #{title}
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css', rel='stylesheet')
		link(href='../vendor/prism/prism.css', rel='stylesheet')
		link(href='../vendor/myrp/myrp.css', rel='stylesheet')

		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js')
		script(src='../vendor/prism/prism.js')
		script(src='../index.js')

	body.grey.lighten-4
		nav.hide-on-large-only
			.nav-wrapper.black
				ul.left
					li
						a#button-slide-out(href="#", data-activates="slide-out")
							i.material-icons.white-text(style="padding: 0 16px") menu
					//li
						img(src="../assets/img/logo-branco.png", style="height: 36px; margin: 14px")
					li
						.white-text(style="text-transform: uppercase; font-weight: bold; font-size: .8rem;") System Guidelines

		ul.side-nav.fixed.transparent.z-depth-0(style="border-right: 1px solid #e0e0e0")
			li.center(style="padding: 12px 0; line-height: normal")
				img(src="../assets/img/logo.png", style="height: 36px; margin: 14px")
				.black-text(style="text-transform: uppercase; font-weight: bold; font-size: .8rem;") System Guidelines
			li.divider
			li
				a(href='layouts.pug', target="_blank") Layouts
			li
				a(href='colors.pug') Colors
			li
				a(href='logos.pug') Logos
			li
				a(href='icons.pug') Icons
			li
				a(href='buttons.pug') Buttons
			li
				a(href='cards.pug') Cards
			li
				a(href='chips.pug') Chips
			li
				a(href='forms.pug') Forms
			li
				a(href='lists.pug') Lists
			li
				a(href='messages.pug') Messages
			li
				a(href='sidenavs.pug') Sidenavs
			li
				a(href='tables.pug') Tables
			li
				a(href='timelines.pug') Timelines

		ul#slide-out.side-nav
			li.center(style="padding: 12px 0; line-height: normal")
				img(src="../assets/img/logo.png", style="height: 36px; margin: 14px")
				.black-text(style="text-transform: uppercase; font-weight: bold; font-size: .8rem;") System Guidelines
			li.divider
			li
				a(href='layouts.pug', target="_blank") Layouts
			li
				a(href='colors.pug') Colors
			li
				a(href='logos.pug') Logos
			li
				a(href='icons.pug') Icons
			li
				a(href='buttons.pug') Buttons
			li
				a(href='cards.pug') Cards
			li
				a(href='chips.pug') Chips
			li
				a(href='forms.pug') Forms
			li
				a(href='lists.pug') Lists
			li
				a(href='messages.pug') Messages
			li
				a(href='sidenavs.pug') Sidenavs
			li
				a(href='tables.pug') Tables
			li
				a(href='timelines.pug') Timelines

		main
			.container
				block content

		style(type='text/css').
			body { margin: 0 0 0 300px; padding: 0; }
			.container { width: auto; margin: 24px; }

			@media only screen and (max-width: 992px) {
				body { margin: 0; }
			}

		script(type="text/javascript").
			$("#button-slide-out").sideNav();