html
	block vars
		- var title = "myrp design kit"
	head
		title #{title}
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css', rel='stylesheet')
		link(href='../vendor/prism/prism.css', rel='stylesheet')
		link(href='http://localhost/cdn/myrp/css/principal.css', rel='stylesheet')

		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js')
		script(src='../vendor/prism/prism.js')
		script(src='../index.js')

	body.grey.lighten-4
		.navbar-fixed
			nav.z-depth-0.black
				.nav-wrapper
					ul.left
						li
							img(src="http://localhost/cdn/myrp/img/logo-myrp-branco.png", style="height: 36px; margin: 14px")
						li
							a.white-text(href='index.pug', style='text-transform: uppercase; font-size: 0.8rem; font-weight: bold') Design Guidelines

		ul#slide-out.side-nav.fixed.z-depth-0(style='z-index: 997')
			li
				span.badge.chip.yellow.black-text Rascunho 
				a(href='layouts.pug') Layouts
			li
				a(href='colors.pug') Colors
			li
				a(href='logos.pug') Logos
			li.divider
			li
				a(href='buttons.pug') Buttons
			li
				a(href='cards.pug') Cards
			li
				a(href='forms.pug') Forms
			li
				a(href='lists.pug') Lists
			li
				a(href='messages.pug') Messages
			li
				a(href='sidenavs.pug') Sidenavs
			li
				a(href='tables.pug') Tables
			li
				a(href='timelines.pug') Timelines

		main
			.container
				block content

		style(type='text/css').
			.nav-wrapper { background-color: inherit; }
					