extends base/layout.pug

block vars
	- var title = 'Buttons'

block content
	h2 Chips

	.section
		h4 Padrão
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.
		
		a.chip Texto 1
		a.chip Texto 2
		a.chip Texto 3
		
		p
			include page-contents/chips/chip-default.html

	.section
		h4 Para filtros
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.
		
		a.chip.grey.lighten-1 Filtro 1
			i.material-icons.left.tiny done

		a.chip.grey.lighten-2 Filtro 2
		a.chip.grey.lighten-2 Filtro 3

		p
			include page-contents/chips/chip-filters.html
	