extends base/layout.pug

block vars
	- var title = 'Colors'

block content
	h2 Colors

	.section
		h4 Padrão
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.
		.row
			.col.s2
				.card-panel.blue
			.col.s2
				.card-panel.indigo
			.col.s2
				.card-panel.green
			.col.s2
				.card-panel.teal
			.col.s2
				.card-panel.orange
			.col.s2
				.card-panel.pink
			.col.s2
				.card-panel.blue.lighten-3
			.col.s2
				.card-panel.indigo.lighten-3
			.col.s2
				.card-panel.green.lighten-3
			.col.s2
				.card-panel.teal.lighten-3
			.col.s2
				.card-panel.orange.lighten-3
			.col.s2
				.card-panel.pink.lighten-3
			.col.s2
				.card-panel.blue.lighten-5
			.col.s2
				.card-panel.indigo.lighten-5
			.col.s2
				.card-panel.green.lighten-5
			.col.s2
				.card-panel.teal.lighten-5
			.col.s2
				.card-panel.orange.lighten-5
			.col.s2
				.card-panel.pink.lighten-5