extends base/layout.pug

block vars
	- var title = 'Forms'

block content
	h2 Forms

	.section
		h4 Padrão
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.
		.card-panel
			h5.card-title Título
			.row
				.col.s12.m6.input-field
					input#input1(type='text')
					label(for='input1') Texto
				.col.s12.m6.input-field
					input#input2(type='text')
					label(for='input2') Texto
				.col.s12.m6.input-field
					input#input3(type='text')
					label(for='input3') Texto
				.col.s12.m6.input-field
					input#input4(type='text')
					label(for='input4') Texto
	.section
		h4 Com ações
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.
		.card
			.card-content
				h5.card-title Título
				.row
					.col.s12.m6.input-field
						input#input5(type='text')
						label(for='input5') Texto
					.col.s12.m6.input-field
						input#input6(type='text')
						label(for='input6') Texto
					.col.s12.m6.input-field
						input#input7(type='text')
						label(for='input7') Texto
					.col.s12.m6.input-field
						input#input8(type='text')
						label(for='input8') Texto
			.card-action
				a.blue-text Link 1
				a.blue-text Link 2
				a.blue-text Link 3

	.section
		h4 Com campos variados
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.
		.card-panel
			h5.card-title Título
			.row
				.col.s12.m6
					.input-field
						input#input9(type='text')
						label(for='input9') Input
				.col.s12.m6
					.input-field
						label.active(for='input10') Select
						select#input10.browser-default
							option Item 1
							option Item 2
							option Item 3
			.row
				.col.s12.m6
					.input-field
						i.material-icons.prefix.grey-text search
						input#input11(type='text')
						label(for='input11') Autocomplete
				.col.s12.m6
					.input-field
						i.material-icons.prefix.grey-text schedule
						input#input12(type='text')
						label(for='input12') Date
				.col.s12
					.switch
						| Deseja ver mais campos?
						label
							input(type='checkbox')
							span.lever