extends base/layout.pug

block vars
	- var title = 'Icons'

block content
	h2 Icons

	.section
		h4 Menu
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.
		table
			tr
				td
					i.material-icons dashboard
				td
					i.material-icons attach_money
				td
					i.material-icons shopping_cart
				td
					i.material-icons local_offer
				td
					i.material-icons local_shipping
				td
					i.material-icons widgets
			tr
				td
					i.material-icons done_all
				td
					i.material-icons help_outline
				td
					i.material-icons chat_bubble
				td
					i.material-icons notifications
				td
					i.material-icons apps
				td
					i.material-icons account_circle
			tr
				td
					i.material-icons business
				td
					i.material-icons group
				td
					i.material-icons power_settings_new

	.section
		h4 Botões
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.
		table
			tr
				td
					i.material-icons add
				td
					i.material-icons edit
				td
					i.material-icons done
				td
					i.material-icons done_all
				td
					i.material-icons arrow_forward
				td
					i.material-icons file_upload
			tr
				td
					i.material-icons arrow_drop_down
	
	.section
		h4 Campos
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.
		table
			tr
				td
					i.material-icons search
				td
					i.material-icons today
				td
				td
				td
				td
			