extends base/layout.pug

block vars
	- var title = 'Início'

block content
	h2 Guidelines
	p
		| Materiais auxiliares para desenvolver interfaces dentro do myrp - do conceito à aplicação e desenvolvimento.