html
	block vars
		- var title = "myrp design kit"
	head
		title Layouts
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css', rel='stylesheet')
		link(href='../vendor/prism/prism.css', rel='stylesheet')
		link(href='../vendor/myrp/myrp.css', rel='stylesheet')

		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js')
		script(src='../vendor/prism/prism.js')
		script(src='../index.js')

	body.grey.lighten-4
		.grey.lighten-3.background.hide-on-med-and-down

		.menu.white.grey-text.text-darken-3.z-depth-1
			.menu-top.center
				img.logo(src="http://localhost/cdn/myrp/img/logo-myrp-colorido.png")
			.menu-collapsed
				a(href='#menu-cadastros')
					i.material-icons home
					.hide-on-med-and-down Cadastros
				a(href='#menu-financeiro')
					i.material-icons attach_money
					.hide-on-med-and-down Financeiro
				a(href='#menu-compras')
					i.material-icons shopping_cart
					.hide-on-med-and-down Compras
				a(href='#menu-vendas')
					i.material-icons local_offer
					.hide-on-med-and-down Vendas
				a(href='#menu-transporte')
					i.material-icons local_shipping
					.hide-on-med-and-down Transporte
				a(href='#menu-estoque')
					i.material-icons widgets
					.hide-on-med-and-down Estoque
				a(href='#menu-sped')
					i.material-icons done_all
					.hide-on-med-and-down SPED
				a(href='#menu-configuracoes')
					i.material-icons settings
					.hide-on-med-and-down Configuração
			.menu-expanded(style="display: none")
				#menu-vendas(style="display: none")
					.row
						.col.s6
							.menu-title Vendas
							p Resumo
							p Orçamentos
							p Pedidos de Venda
							p Ordens de Serviço
							p Operações PDV
							p NF-e
							p NFC-e
							p NFS-e
						.col.s6
							.menu-title Relatórios
							p Produtos Mais Vendidos
							p Produtos Mais Lucrativos
							p Clientes Mais Fiéis
							p Clientes Mais Lucrativos
							p Formas de Pagamento Mais Utilizadas
							p NF-e
							p Itens de NF-e
							p NFC-e
							p Itens da NFC-e
							p Itens de Pedido de Venda
							p Margem de Contribuição por Itens de Pedido de Venda
							p Orçamentos
							p Itens de Orçamento
							p Faturamento Sintético
							p NFS-e
							p Retenções de NFS-e
				#menu-financeiro(style="display: none")
					.row
						.col.s6
							.menu-title Financeiro
							p Resumo
							p Transferência entre Contas
							p Contas a Pagar e Receber
							p Recebimentos Cartão
							p Boleto com Registro
							p Remessas Geredas
							p Conciliação Bancária
						.col.s6
							.menu-title Relatórios
							p Contas a Pagar
							p Contas a Pagar por Categoria
							p Contas a Receber
							p Contas a Receber por Categoria
							p Financeiro Sintético
							p Detalhamento de Conta Bancária
							p Quitação de Contas a Pagar e Receber
							p Recebimentos Cartão
							p Fluxo de Caixa
							p Comissões por Conta a Receber
							p Comissões por Pedido de Venda
							p Comissões por NF-e
							p Comissões por NFS-e
							p Comissões por NFC-e
				#menu-compras(style="display: none")
					.row
						.col.s6
							.menu-title Compras
							p Pedidos de Compra
							p Importar NF-e de Fornecedor
							p NF-e de Fornecedor
							p NFS-e de Fornecedor
						.col.s6
							.menu-title Relatórios
							p NF-e de Fornecedor
							p Itens de NF-e de Fornecedor
							p NFS-e de Fornecedor
							p Retenções de NFS-e de Fornecedor
				#menu-transporte(style="display: none")
					.row
						.col.s6
							.menu-title Transporte
							p CT-e
							p CT-e de Fornecedor
							p Importar CT-e de Fornecedor
							p MDF-e
						.col.s6
							.menu-title Relatórios
							p CT-e
							p CT-e de Fornecedor
				#menu-estoque(style="display: none")
					.row
						.col.s6
							.menu-title Estoque
							p Controle de Estoque
							p Ordens de Produção
							p Consulta Estoque Terceiro por Produto
							p Consulta Estoque Terceiro por Participante
						.col.s6
							.menu-title Relatórios
							p Estoque Próprio
							p Estoque (Preço de Compra)
							p Estoque de Terceiro
							p Estoque em Terceiro
							p Movimentação Estoque Próprio
							p Movimentação Estoque de Terceiro
							p Movimentação Estoque em Terceiro
							p Inventário
				#menu-sped(style="display: none")
					.row
						.col.s12
							.menu-title SPED
							p Entradas de Energia Elétrica
							p Declarações de Exportação
							p Operações com Cartão Crédito/Débito
							p SPED Contribuição
							p SPED Fiscal
							p e-CAC
				#menu-cadastros(style="display: none")
					.row
						.col.s6
							.menu-title Cadastros
							p Produtos
							p Serviços
							p Clientes
							p Fornecedores
							p Transportadores
							p Motoristas
							p Veículos
							p Contadores
							p PDVs
							p Observações
							p Unidades de Medida
							p Naturezas de Operação
							p Formas de Pagamento
							p Contas Bancárias
							p Categorias Financeiras
							p Bandeiras de Cartão
							p Vendedores
						.col.s6
							.menu-title Relatórios
							p Produtos
							p Clientes
							p Fornecedores
							p Transportadores
				#menu-configuracoes(style="display: none")
					.row
						.col.s12
							.menu-title Configuração
							p Transações de Saída
							p Transações do PDV
							p Transações de Entrada
							p Personalizar Campos CT-e
							p Certificado Digital
							p Minha Empresa
							p E-mail
							p Imagem para Impressao
							p Imagem para Documentos
							p Fundos de Combate a Pobreza

		.top-small.center
			a.black-text Empresa
			a.grey-text.text-lighten-1.hide-on-med-and-down(style="margin: 0 8px") /
			a.black-text.hide-on-small-only.hide-on-med-and-down Home
			a.grey-text.text-lighten-1.hide-on-med-and-down(style="margin: 0 8px") /
			a.black-text.hide-on-small-only.hide-on-med-and-down Módulo
		
		.top.truncate
			.row.valign-wrapper
				.col.s6.valign-wrapper
					a.title.black-text Título da página
					a.btn.primary-color.white-text.hide-on-med-and-down Botão
				.col.s6
					.right.hide-on-small-only
						a.center
							i.material-icons.black-text search
						a.center
							i.material-icons.black-text notifications
						a.center
							i.material-icons.black-text apps
						a.center
							i.material-icons.black-text account_circle
					.right.hide-on-med-and-up
						a.center
							i.material-icons.black-text more_vert
		
		.bottom.truncate
			.row
				.col.s12.center
					.hide-on-med-and-down
						.btn.primary-color.white-text Botão
						//.btn.btn-floating.primary-color.white-text.hide-on-med-and-down
							i.material-icons add
					.hide-on-large-only
						a.btn-floating.btn-large.primary-color.white-text
							i.material-icons.large add
						

		//ul.tabs.transparent
			li.tab 
				a Aba 1
			li.tab 
				a Aba 2
			li.tab 
				a Aba 3

		#body
			.row
				.col.s12
					.left
						a.chip.grey.lighten-2 Filtro 1
						a.chip.grey.lighten-1
							span Filtro 2
						a.chip.grey.lighten-2 Filtro 3
						a.chip.grey.lighten-2 Filtro 4
						a.chip.grey.lighten-2 Filtro 5
						a.chip.grey.lighten-2 Filtro 6
						a.chip.grey.lighten-2 Filtro 7
						a.chip.white.border-chip
							input(placeholder='Nome dos campos')
							i.material-icons.right search

				.col.s12.l4
					.card-panel.light-green.white-text
						label.white-text Primeira linha
						h5 Segunda linha
				.col.s12.l4
					.card-panel.orange.white-text
						label.white-text Primeira linha
						h5 Segunda linha
				.col.s12.l4
					.card-panel.cyan.white-text
						label.white-text Primeira linha
						h5 Segunda linha
				.col.s12
					.card-panel
						h5 Timeline
						.timeline
							.timeline-item
								i.material-icons.grey-text check_box_outline_blank
								.timeline-actions
									a.btn-flat.grey-text.hide-on-small-only Link 1
									a.btn-flat.grey-text.hide-on-small-only Link 2
									a.btn-flat.grey-text.hide-on-small-only Link 3
									a.btn-flat.grey-text
										i.material-icons.right more_vert
								.timeline-content.valign-wrapper
									span.uppercase.left.hide-on-med-and-down(style="font-size:0.9rem; font-weight: 500;") Selecionar todos
							.timeline-header
								.timeline-title Data
							.timeline-item
								i.material-icons.light-green-text check_circle
								.timeline-actions
									a.btn-flat.primary-color-text.hide-on-small-only Link 1
									a.btn-flat.primary-color-text.dropdown-button( data-activates='dropdown1')
										i.material-icons.right more_vert
									ul#dropdown1.dropdown-content
										li
											a Link 1
										li
											a#button-side-nav1(href='#', data-activates='side-nav1') Link 2
										li
											a Link 3
								.timeline-content
									div.truncate Primeira linha
									label.truncate
										
										span Segunda linha
							.timeline-item
								i.material-icons.orange-text warning
								.timeline-actions
									a.btn-flat.primary-color-text.hide-on-small-only Link 1
									a.btn-flat.primary-color-text
										i.material-icons.right more_vert
								.timeline-content
									div.truncate Segunda linha
									label.truncate
										
										span Segunda linha
							.timeline-item
								i.material-icons.grey-text schedule
								.timeline-actions
									a.btn-flat.primary-color-text.hide-on-small-only Link 1
									a.btn-flat.primary-color-text
										i.material-icons.right more_vert
								.timeline-content
									div.truncate Terceira linha
									label.truncate
										
										span Segunda linha
			
					.card-panel
						h5 Timeline
						.timeline
							.timeline-item
								i.material-icons.primary-color-text check_box
								.timeline-actions
									a.btn-flat.primary-color-text.hide-on-small-only Link 1
									a.btn-flat.primary-color-text.hide-on-small-only Link 2
									a.btn-flat.primary-color-text.hide-on-small-only Link 3
									a.btn-flat.primary-color-text
										i.material-icons.right more_vert
								.timeline-content.valign-wrapper
									span.uppercase.left.hide-on-med-and-down(style="font-size:0.9rem; font-weight: 500;") 3 selecionados
							.timeline-header
								.timeline-title Data
							.timeline-item
								i.material-icons.primary-color-text check_box
								.timeline-actions
									a.btn-flat.primary-color-text.hide-on-small-only Link 1
									a.btn-flat.primary-color-text.dropdown-button( data-activates='dropdown1')
										i.material-icons.right more_vert
									ul#dropdown1.dropdown-content
										li
											a Link 1
										li
											a#button-side-nav1(href='#', data-activates='side-nav1') Link 2
										li
											a Link 3
								.timeline-content
									div.truncate Primeira linha
									label.truncate
										
										span Segunda linha
							.timeline-item
								i.material-icons.primary-color-text check_box
								.timeline-actions
									a.btn-flat.primary-color-text.hide-on-small-only Link 1
									a.btn-flat.primary-color-text
										i.material-icons.right more_vert
								.timeline-content
									div.truncate Segunda linha
									label.truncate
										
										span Segunda linha
							.timeline-item
								i.material-icons.primary-color-text check_box
								.timeline-actions
									a.btn-flat.primary-color-text.hide-on-small-only Link 1
									a.btn-flat.primary-color-text
										i.material-icons.right more_vert
								.timeline-content
									div.truncate Terceira linha
									label.truncate
										
										span Segunda linha

					.card-panel
						h5 List
						.list
							.list-item
								.list-actions
									a.btn-flat.grey-text.hide-on-small-only Link 1
									a.btn-flat.grey-text.hide-on-small-only Link 2
									a.btn-flat.grey-text.hide-on-small-only Link 3
									a.btn-flat.grey-text
										i.material-icons.right more_vert
								.list-content
									i.material-icons.grey-text.left check_box_outline_blank
									span.uppercase.left.hide-on-med-and-down(style="font-size:0.9rem; font-weight: 500; margin-top: 10px;") Selecionar todos
							.list-item
								.list-actions
									a.btn-flat.primary-color-text.hide-on-small-only Link 1
									a.btn-flat.primary-color-text.dropdown-button( data-activates='dropdown1')
										i.material-icons.right more_vert
									ul#dropdown1.dropdown-content
										li
											a Link 1
										li
											a#button-side-nav1(href='#', data-activates='side-nav1') Link 2
										li
											a Link 3
								.list-content
									i.material-icons.light-green-text.left check_circle
									div.truncate Primeira linha
									label.truncate
										
										span Segunda linha
							.list-item
								.list-actions
									a.btn-flat.primary-color-text.hide-on-small-only Link 1
									a.btn-flat.primary-color-text
										i.material-icons.right more_vert
								.list-content
									i.material-icons.orange-text.left warning
									div.truncate Segunda linha
									label.truncate
										
										span Segunda linha
							.list-item
								.list-actions
									a.btn-flat.primary-color-text.hide-on-small-only Link 1
									a.btn-flat.primary-color-text
										i.material-icons.right more_vert
								.list-content
									i.material-icons.grey-text.left schedule
									div.truncate Terceira linha
									label.truncate
										
										span Segunda linha

					.card-panel
						h5 List
						.list
							.list-item
								.list-actions
									a.btn-flat.primary-color-text.hide-on-small-only Link 1
									a.btn-flat.primary-color-text.hide-on-small-only Link 2
									a.btn-flat.primary-color-text.hide-on-small-only Link 3
									a.btn-flat.primary-color-text
										i.material-icons.right more_vert
								.list-content
									i.material-icons.primary-color-text.left check_box
									span.uppercase.left.hide-on-med-and-down(style="font-size:0.9rem; font-weight: 500; margin-top: 10px;") 3 selecionados
							.list-item
								.list-actions
									a.btn-flat.primary-color-text.hide-on-small-only Link 1
									a.btn-flat.primary-color-text.dropdown-button( data-activates='dropdown1')
										i.material-icons.right more_vert
									ul#dropdown1.dropdown-content
										li
											a Link 1
										li
											a#button-side-nav1(href='#', data-activates='side-nav1') Link 2
										li
											a Link 3
								.list-content
									i.material-icons.primary-color-text.left check_box
									div.truncate Primeira linha
									label.truncate
										
										span Segunda linha
							.list-item
								.list-actions
									a.btn-flat.primary-color-text.hide-on-small-only Link 1
									a.btn-flat.primary-color-text
										i.material-icons.right more_vert
								.list-content
									i.material-icons.primary-color-text.left check_box
									div.truncate Segunda linha
									label.truncate
										
										span Segunda linha
							.list-item
								.list-actions
									a.btn-flat.primary-color-text.hide-on-small-only Link 1
									a.btn-flat.primary-color-text
										i.material-icons.right more_vert
								.list-content
									i.material-icons.primary-color-text.left check_box
									div.truncate Terceira linha
									label.truncate
										
										span Segunda linha

					.card-panel
						.left 
							h5 Table
						.right
							a.btn-flat.grey-text.hide-on-small-only Link 1
							a.btn-flat.grey-text.hide-on-small-only Link 2
							a.btn-flat.grey-text.hide-on-small-only Link 3
							a.btn-flat.grey-text
								i.material-icons.right more_vert
						table.bordered
							thead
								tr
									th
										i.material-icons.left check_box_outline_blank
									th Coluna 1
									th Coluna 2
									th Coluna 3
									th
							tbody
								tr
									td
										i.material-icons.left check_box_outline_blank
									td Linha 1
									td Linha 1
									td Linha 1
									td.right-align
										a.btn-flat.primary-color-text.hide-on-small-only Link 1
										a.btn-flat.primary-color-text
											i.material-icons.right more_vert
								tr
									td
										i.material-icons.left check_box_outline_blank
									td Linha 2
									td Linha 2
									td Linha 2
									td.right-align
										a.btn-flat.primary-color-text.hide-on-small-only Link 1
										a.btn-flat.primary-color-text
											i.material-icons.right more_vert
								tr
									td
										i.material-icons.left check_box_outline_blank
									td Linha 3
									td Linha 3
									td Linha 3
									td.right-align
										a.btn-flat.primary-color-text.hide-on-small-only Link 1
										a.btn-flat.primary-color-text
											i.material-icons.right more_vert

					.card-panel
						.left 
							h5 Table
						.right
							a.btn-flat.primary-color-text.hide-on-small-only Link 1
							a.btn-flat.primary-color-text.hide-on-small-only Link 2
							a.btn-flat.primary-color-text.hide-on-small-only Link 3
							a.btn-flat.primary-color-text
								i.material-icons.right more_vert
						table.bordered
							thead
								tr
									th
										i.material-icons.primary-color-text.left check_box
									th Coluna 1
									th Coluna 2
									th Coluna 3
									th
							tbody
								tr
									td
										i.material-icons.primary-color-text.left check_box
									td Linha 1
									td Linha 1
									td Linha 1
									td.right-align
										a.btn-flat.primary-color-text.hide-on-small-only Link 1
										a.btn-flat.primary-color-text
											i.material-icons.right more_vert
								tr
									td
										i.material-icons.primary-color-text.left check_box
									td Linha 2
									td Linha 2
									td Linha 2
									td.right-align
										a.btn-flat.primary-color-text.hide-on-small-only Link 1
										a.btn-flat.primary-color-text
											i.material-icons.right more_vert
								tr
									td
										i.material-icons.primary-color-text.left check_box
									td Linha 3
									td Linha 3
									td Linha 3
									td.right-align
										a.btn-flat.primary-color-text.hide-on-small-only Link 1
										a.btn-flat.primary-color-text
											i.material-icons.right more_vert

					.card-panel
						h5 Form
						.row
							.col.s12.m6
								.input-field
									i.material-icons.prefix.grey-text search
									input#input11(type='text')
									label(for='input11') Autocompletar
							.col.s12.m6
								.input-field
									i.material-icons.prefix.grey-text today
									input#input12(type='text')
									label(for='input12') Data
							.col.s12.m6
								.input-field
									label.active(for='input10') Lista
									select#input10.browser-default
										option Item 1
										option Item 2
										option Item 3
							.col.s12.m6
								.input-field
									input#input9(type='text')
									label(for='input9') Texto
							.col.s12.m6
								label Marcar vários itens
								p
									span
										input#input13a.filled-in(type='checkbox')
										label(for='input13a') Item 1
									span
										input#input13b.filled-in(type='checkbox')
										label(for='input13b') Item 2
									span
										input#input13c.filled-in(type='checkbox')
										label(for='input13c') Item 3
							.col.s12.m6
								label Marcar somente um item
								p
									span
										input#input14a.filled-in(type='radio', name="input14")
										label(for='input14a') Item 1
									span
										input#input14b.filled-in(type='radio', name="input14")
										label(for='input14b') Item 2
									span
										input#input14c.filled-in(type='radio', name="input14")
										label(for='input14c') Item 3
								
							.col.s12
								.switch
									| Uma pergunta?
									label
										input(type='checkbox')
										span.lever

		div#side-nav1.side-nav.card-panel
			div#list-renegociar
				h5 Renegociar
				p Quais recebimentos do cliente você quer renegociar?
				.timeline
					.timeline-header
						.timeline-title Data
					.timeline-item
						i.material-icons.orange-text warning
						.timeline-title Hora
						.timeline-content
							i.material-icons.right.grey-text.cursor-pointer(onclick="$(this).html($(this).html() == 'check_box_outline_blank' ? 'check_box_outline' : 'check_box_outline_blank')") check_box_outline_blank
							div.truncate Primeira linha
							label.truncate
								
								span  | Vendas | Banco do Brasil
					.timeline-item
						i.material-icons.grey-text schedule
						.timeline-title Hora
						.timeline-content
							i.material-icons.right.grey-text.cursor-pointer(onclick="$(this).html($(this).html() == 'check_box_outline_blank' ? 'check_box_outline' : 'check_box_outline_blank')") check_box_outline_blank
							div.truncate Primeira linha
							label.truncate
								
								span  | Vendas | Banco do Brasil
					.timeline-item
						i.material-icons.grey-text schedule
						.timeline-title Hora
						.timeline-content
							i.material-icons.right.grey-text.cursor-pointer(onclick="$(this).html($(this).html() == 'check_box_outline_blank' ? 'check_box_outline' : 'check_box_outline_blank')") check_box_outline_blank
							div.truncate Primeira linha
							label.truncate
								
								span  | Vendas | Banco do Brasil	
				p.right-align
					a.btn-flat(onclick="$('#button-side-nav1').trigger('click'); $('#form-renegociar').hide(); $('#list-renegociar').show();") Cancelar
					a.btn.btn-large.light-green(onclick="$('#list-renegociar').hide(); $('#form-renegociar').show(); $('#input10').focus();") Continuar
			div#form-renegociar(style="display: none")
				h5 Renegociar
				p Preencha os campos abaixo para concluir a renegociação. 
				.row
					.col.s12.m6.input-field
						input#input6(type='text', value="300,00")
						label(for='input6') Valor a renegociar
					.col.s12.m6.input-field
						i.material-icons.prefix today
						input#input7(type='text', value="26/04/2019")
						label(for='input7') Próximo vencimento
					.col.s12.m6.input-field
						input#input10(type='text')
						label(for='input10') Quantidade de parcelas
					.col.s12.m6.input-field
						select#input11.browser-default
							option Não informado
						label.active(for='input11') Período entre as parcelas
					.col.s12.m6.input-field.controlar
						i.material-icons.prefix search
						input#input8(type='text', value="Vendas")
						label(for='input8') Categoria financeira
					.col.s12.m6.input-field.controlar
						i.material-icons.prefix search
						input#input9(type='text', value="Banco do Brasil")
						label(for='input9') Conta bancária
					.col.s12.m6.input-field.controlar
						i.material-icons.prefix search
						input#input16(type='text', value="Primeira linha")
						label(for='input16') Cliente
					.col.s12.m6.input-field.controlar
						input#input17(type='text', value="Vendas")
						label(for='input17') Descricao
					.col.s12.m6.input-field.controlar
						select#input12.browser-default
							option Não informado
						label.active(for='input12') Espécie de título
					.col.s12.m6.input-field.controlar
						select#input13.browser-default
							option Não informado
						label.active(for='input13') Vendedor
					.col.s12.m6.input-field.controlar
						input#input14(type='text')
						label(for='input14') Série do documento
					.col.s12.m6.input-field.controlar
						input#input15(type='text')
						label(for='input15') Número do documento
					.col.s12.center
						i.material-icons.circle.grey.lighten-3.black-text(onclick="if ($('.controlar:visible').length) { $('.controlar').hide(); $(this).html('expand_more'); } else { $('.controlar').show(); $(this).html('expand_less'); }") expand_more
				p.right-align
					a.btn-flat(onclick="$('#form-renegociar').hide(); $('#list-renegociar').show();") Cancelar
					a.btn.btn-large.light-green(onclick="$('#button-side-nav1').trigger('click'); $('#form-renegociar').hide(); $('#list-renegociar').show();") Salvar

	script(type='text/javascript').
		$('#button-side-nav1').sideNav({
			menuWidth: 700,
			edge: 'right'
		});

		$('.menu-collapsed a').on('click mouseover', function() {
			$('.menu-expanded').show();
			$('.menu-expanded > div[id]').hide();
			$($(this).attr('href')).show();

			return false;
		});

		$(document).on('click', function() {
			$('.menu-expanded').hide();
		});

		$(window).on('scroll resize', function() {
			if ($(window).width() <= 992 || $('#body').offset().top < $(document).scrollTop())
				$('.bottom').show();
			else
				$('.bottom').hide();
		});

		$('#up').on('click', function() {
			$(document).scrollTop(0);
		});

	style(type='text/css').
		body { margin: 0 24px 0 104px; overflow-y: scroll; min-width: 320px; }
		table th:first-child, table td:first-child { width: 0.1%; }

		td .btn-flat, .card-panel > .right .btn-flat { margin: 0; padding: 0 6px; font-size: 0.9rem; }
		td .btn-flat i, .card-panel > .right .btn-flat i { margin: 0!important; }

		.b { font-weight: bold; }
		.background { position: absolute; top: 0; left: 0; height: 350px; width: 100%; z-index: -2; }
		.card-panel h5:first-child { margin-top: 0; }
		.cursor-pointer { cursor: pointer; }
		.dropdown-content li>a { line-height: normal; padding: 12px; font-size: 1rem; color: #000; }
		.label { font-size: 0.8rem; }
		.title { font-size: 1.64rem; }
		.uppercase { text-transform: uppercase; }
		.border-chip { border: 1px solid #e0e0e0; }
		.logo { width: 56px; height: auto; }

		.bottom { position: fixed; z-index: 998; left: 0; bottom: 0; width: 100%; padding: 12px 88px 12px 144px; background-color: #eeeeee; display: none; }
		.bottom .right i, .bottom .right a { width: 56px; line-height: 36px; } 
		.bottom .row { margin: 0; }
		.bottom .btn { margin: 0 8px; }

		.chip .material-icons.left, .chip .material-icons.right { margin: 5px 0 0 0; line-height: normal; font-size: 21px; }
		.chip { font-size: 0.8rem; }
		.chip input, .chip input:focus { width: 200px !important; margin: 0; padding: 8px; display: inline; border: none !important; font-size: 0.8rem; height: auto; box-shadow: none !important; }
		.chip input::placeholder { color: rgba(0,0,0,0.3); }

		.menu { position: fixed; top: 0; left: 0; height: 100%; width: auto; border: 0px; z-index: 999; overflow-y: auto; overflow-x: hidden; }
		.menu::-webkit-scrollbar { width: 8px; }
		.menu::-webkit-scrollbar-track { background: none; }
		.menu::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.2); }
		.menu .divider { background-color: rgba(0,0,0,0.2)!important; }
		.menu-top { padding: 40px 0 16px 0; }
		.menu-collapsed { float: left; width: 80px; text-align: center; }
		.menu-collapsed a { display: block; color: inherit; padding: 12px 0; }
		.menu-collapsed a div { font-size:.6rem; text-transform: uppercase; display: block; padding-top: 4px; }
		.menu-collapsed a:hover { background-color: rgba(0,0,0,0.1); }
		.menu-expanded { float: left; width: 600px; padding:24px; }
		.menu-title { font-size: 1rem; text-transform: uppercase; font-weight: 500; }

		.tabs { border-bottom: 1px solid #e0e0e0; }
		.tabs .indicator { display: none; }
		.tabs .tab a, .tabs .tab a:hover { color: #000000; }
		.tabs .tab a { color: #000000; font-size: 0.8rem; font-weight: bold; }
		.tabs .tab a.active { color: #000000; border-bottom: 3px solid #000000; }
		
		.timeline { margin-left: 50px; }

		.top { padding: 8px 0; }
		.top .left { height: 56px; }
		.top .right a { display: inline-block; width: 56px; height: 56px; line-height: 56px; }
		.top .right a:hover { background-color: rgba(0,0,0,0.1); border-radius: 50%; }
		.top .right i { line-height: 56px; }
		.top .row { margin: 0; }
		.top .btn { margin: 0 8px; }

		.top-small { font-size: .8rem; text-transform: uppercase; font-weight: bold; }

		.primary-color-text { color: rgb(1, 163,217)!important; }
		.primary-color { background-color: rgb(1, 163,217)!important; }

		@media only screen and (max-width: 992px) {
			body { margin: 0; }
			.top-small { padding-top: 12px; }
			.bottom { position: fixed; z-index: 998; left: auto; right: 24px; bottom: 24px; width: auto; height: auto; padding: 0; background-color: transparent; overflow: unset; display: block; }
			.top { padding: 8px 0; }

			.menu { position: relative; text-align: center; height: auto; width: 100%; overflow-y: hidden; padding-top: 0; }
			.menu-collapsed { float: none; width: 100%; }
			.menu-collapsed a, .menu-collapsed i { display: inline-block; text-align: center; width: 56px; height: 56px; line-height: 56px; color: inherit; padding: 0; margin: auto; }
			.menu-expanded { float: none; width: 100%; text-align: left; }
		}
