html
	block vars
		- var title = "myrp design kit"
	head
		title Layouts
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css', rel='stylesheet')
		link(href='../vendor/prism/prism.css', rel='stylesheet')
		link(href='../vendor/myrp/myrp.css', rel='stylesheet')

		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js')
		script(src='../vendor/prism/prism.js')
		script(src='../index.js')

	body.grey.lighten-4
		div.grey.lighten-3.background

		nav.z-depth-0.transparent
			.nav-wrapper.truncate
				ul.left
					li
						img.logo(src="http://localhost/cdn/myrp/img/logo-myrp-colorido.png")
					li
						a.black-text(href='index.pug') Financeiro
				ul.right
					li.hide-on-med-and-down
						a.black-text Nome da empresa
					li
						a
							i.material-icons.black-text notifications
					li
						a
							i.material-icons.black-text apps
					li
						a
							i.material-icons.black-text account_circle

		div.z-depth-1.light-blue.menu
			a(href='#!')
				i.material-icons.white-text attach_money
			a(href='#!')
				i.material-icons.white-text shopping_cart
			a(href='#!')
				i.material-icons.white-text local_offer
			a(href='#!')
				i.material-icons.white-text local_shipping
			a(href='#!')
				i.material-icons.white-text widgets
			a(href='#!')
				i.material-icons.white-text done_all
			a(href='#!')
				i.material-icons.white-text help_outline
			a(href='#!')
				i.material-icons.white-text chat_bubble

		
		.title.black-text.truncate
			.left Contas a pagar e receber
			.right
				a(href='#!')
					i.material-icons.black-text search
				a(href='#!')
					i.material-icons.black-text refresh
				a(href='#!')
					i.material-icons.black-text add

		//ul.tabs.transparent.tabs-fixed-width
			li.tab 
				a Aba 1
			li.tab 
				a Aba 2
			li.tab 
				a Aba 3	
			li.tab 
				a Aba 4

		.row
			.col.s12.truncate
				a.chip.grey.lighten-2 Hoje
				a.chip.grey.lighten-1
					i.material-icons.left.tiny check
					span Neste mês
				a.chip.grey.lighten-2 No mês passado
				a.chip.grey.lighten-2 No próximo mês
				a.chip.grey.lighten-2 Em aberto
				a.chip.grey.lighten-2 Atrasadas (99)
				a.chip.grey.lighten-2 Pagamentos
				a.chip.grey.lighten-2 Recebimentos
			.col.s12.m3
				.card
					.card-content
						label.black-text Recebimento esperado
						h5.truncate
							| R$ 900,00
			.col.s12.m3
				.card
					.card-content
						label.black-text Recebido
						h5.truncate
							| R$ 800,00
			.col.s12.m3
				.card
					.card-content
						label.black-text Pagamento esperado
						h5.truncate
							| R$ 1.000,00
			.col.s12.m3
				.card
					.card-content
						label.black-text Pago
						h5.truncate
							| R$ 300,00
			.col.s12
				.card-panel
					h5 Vencimentos
					.timeline
						.timeline-header
							.timeline-title 26/03
						.timeline-item
							i.material-icons.light-green-text check_circle
							.timeline-actions
								a.btn-flat.blue-text Editar
								a.btn-flat.blue-text.dropdown-button( data-activates='dropdown1') Mais
									i.material-icons.right arrow_drop_down
								ul#dropdown1.dropdown-content
									li
										a Desfazer pagamento
									li
										a#button-side-nav1(href='#', data-activates='side-nav1') Renegociar
									li
										a Remover
							.timeline-content
								div.truncate Primeiro cliente
								label.truncate
									span.light-green-text + 100,00
									span  | Vendas | Banco do Brasil
						.timeline-item
							i.material-icons.orange-text warning
							.timeline-actions
								a.btn-flat.blue-text Editar
								a.btn-flat.blue-text Mais
									i.material-icons.right arrow_drop_down
							.timeline-content
								div.truncate Segundo cliente
								label.truncate
									span.light-green-text + 100,00
									span  | Vendas | Banco do Brasil
						.timeline-item
							i.material-icons.grey-text schedule
							.timeline-actions
								a.btn-flat.blue-text Editar
								a.btn-flat.blue-text Mais
									i.material-icons.right arrow_drop_down
							.timeline-content
								div.truncate Terceiro cliente
								label.truncate
									span.light-green-text + 100,00
									span  | Vendas | Banco do Brasil
		
				//.card-panel
					table.bordered
						thead
							tr
								th Coluna 1
								th Coluna 2
								th Coluna 3
								th
						tbody
							tr
								td Linha 1
								td Linha 1
								td Linha 1
								td.right-align
									a
										i.material-icons.grey-text.text-darken-2 edit
									a
										i.material-icons.grey-text.text-darken-2 delete
							tr
								td Linha 2
								td Linha 2
								td Linha 2
								td.right-align
									a
										i.material-icons.grey-text.text-darken-2 edit
									a
										i.material-icons.grey-text.text-darken-2 delete
							tr
								td Linha 3
								td Linha 3
								td Linha 3
								td.right-align
									a
										i.material-icons.grey-text.text-darken-2 edit
									a
										i.material-icons.grey-text.text-darken-2 delete

				//.card-panel
					.list
						.list-item
							.list-actions
								a.btn-flat.blue-text Link 1
								a.btn-flat.blue-text Link 2
							.list-content
								i.material-icons.left.light-green-text check_circle
								div Primeira linha
								label Segunda linha
						.list-item
							.list-actions
								a.btn-flat.blue-text Link 1
								a.btn-flat.blue-text Link 2
							.list-content
								i.material-icons.left.orange-text warning
								div Primeira linha
								label Segunda linha
						.list-item
							.list-actions
								a.btn-flat.blue-text Link 1
								a.btn-flat.blue-text Link 2
							.list-content
								i.material-icons.left.grey-text schedule
								div Primeira linha
								label Segunda linha

				//.card-panel
					.row
						.col.s12.m6
							.input-field
								i.material-icons.prefix.grey-text search
								input#input11(type='text')
								label(for='input11') Autocompletar
						.col.s12.m6
							.input-field
								i.material-icons.prefix.grey-text today
								input#input12(type='text')
								label(for='input12') Data
						.col.s12.m6
							.input-field
								label.active(for='input10') Lista
								select#input10.browser-default
									option Item 1
									option Item 2
									option Item 3
						.col.s12.m6
							.input-field
								input#input9(type='text')
								label(for='input9') Texto
						.col.s12.m6
							label Marcar vários itens
							p
								input#input13a.filled-in(type='checkbox')
								label(for='input13a') Item 1
							p
								input#input13b.filled-in(type='checkbox')
								label(for='input13b') Item 2
							p
								input#input13c.filled-in(type='checkbox')
								label(for='input13c') Item 3
						.col.s12.m6
							label Marcar somente um item
							p
								input#input14a.filled-in(type='radio', name="input14")
								label(for='input14a') Item 1
							p
								input#input14b.filled-in(type='radio', name="input14")
								label(for='input14b') Item 2
							p
								input#input14c.filled-in(type='radio', name="input14")
								label(for='input14c') Item 3
						.col.s12
							.switch
								| Uma pergunta?
								label
									input(type='checkbox')
									span.lever

		div#side-nav1.side-nav.card-panel
			div#list-renegociar
				h5 Renegociar
				p Quais recebimentos do cliente você quer renegociar?
				.timeline
					.timeline-header
						.timeline-title Data
					.timeline-item
						i.material-icons.orange-text warning
						.timeline-title Hora
						.timeline-content
							i.material-icons.right.grey-text.cursor-pointer(onclick="$(this).html($(this).html() == 'check_box_outline_blank' ? 'check_box_outline' : 'check_box_outline_blank')") check_box_outline_blank
							div.truncate Primeiro cliente
							label.truncate
								span.light-green-text + 100,00
								span  | Vendas | Banco do Brasil
					.timeline-item
						i.material-icons.grey-text schedule
						.timeline-title Hora
						.timeline-content
							i.material-icons.right.grey-text.cursor-pointer(onclick="$(this).html($(this).html() == 'check_box_outline_blank' ? 'check_box_outline' : 'check_box_outline_blank')") check_box_outline_blank
							div.truncate Primeiro cliente
							label.truncate
								span.light-green-text + 100,00
								span  | Vendas | Banco do Brasil
					.timeline-item
						i.material-icons.grey-text schedule
						.timeline-title Hora
						.timeline-content
							i.material-icons.right.grey-text.cursor-pointer(onclick="$(this).html($(this).html() == 'check_box_outline_blank' ? 'check_box_outline' : 'check_box_outline_blank')") check_box_outline_blank
							div.truncate Primeiro cliente
							label.truncate
								span.light-green-text + 100,00
								span  | Vendas | Banco do Brasil	
				p.right-align
					a.btn-flat(onclick="$('#button-side-nav1').trigger('click'); $('#form-renegociar').hide(); $('#list-renegociar').show();") Cancelar
					a.btn.btn-large.light-green(onclick="$('#list-renegociar').hide(); $('#form-renegociar').show(); $('#input10').focus();") Continuar
			div#form-renegociar(style="display: none")
				h5 Renegociar
				p Preencha os campos abaixo para concluir a renegociação. 
				.row
					.col.s12.m6.input-field
						input#input6(type='text', value="300,00")
						label(for='input6') Valor a renegociar
					.col.s12.m6.input-field
						i.material-icons.prefix today
						input#input7(type='text', value="26/04/2019")
						label(for='input7') Próximo vencimento
					.col.s12.m6.input-field
						input#input10(type='text')
						label(for='input10') Quantidade de parcelas
					.col.s12.m6.input-field
						select#input11.browser-default
							option Não informado
						label.active(for='input11') Período entre as parcelas
					.col.s12.m6.input-field.controlar
						i.material-icons.prefix search
						input#input8(type='text', value="Vendas")
						label(for='input8') Categoria financeira
					.col.s12.m6.input-field.controlar
						i.material-icons.prefix search
						input#input9(type='text', value="Banco do Brasil")
						label(for='input9') Conta bancária
					.col.s12.m6.input-field.controlar
						i.material-icons.prefix search
						input#input16(type='text', value="Primeiro cliente")
						label(for='input16') Cliente
					.col.s12.m6.input-field.controlar
						input#input17(type='text', value="Vendas")
						label(for='input17') Descricao
					.col.s12.m6.input-field.controlar
						select#input12.browser-default
							option Não informado
						label.active(for='input12') Espécie de título
					.col.s12.m6.input-field.controlar
						select#input13.browser-default
							option Não informado
						label.active(for='input13') Vendedor
					.col.s12.m6.input-field.controlar
						input#input14(type='text')
						label(for='input14') Série do documento
					.col.s12.m6.input-field.controlar
						input#input15(type='text')
						label(for='input15') Número do documento
					.col.s12.center
						i.material-icons.circle.grey.lighten-3.black-text(onclick="if ($('.controlar:visible').length) { $('.controlar').hide(); $(this).html('expand_more'); } else { $('.controlar').show(); $(this).html('expand_less'); }") expand_more
				p.right-align
					a.btn-flat(onclick="$('#form-renegociar').hide(); $('#list-renegociar').show();") Cancelar
					a.btn.btn-large.light-green(onclick="$('#button-side-nav1').trigger('click'); $('#form-renegociar').hide(); $('#list-renegociar').show();") Salvar

	script(type='text/javascript').
		$('#button-side-nav1').sideNav({
			menuWidth: 700,
			edge: 'right'
		});
		
	style(type='text/css').
		.menu a, .menu i { display: block; height: 56px; line-height: 56px; }
		.menu a:hover { background-color: rgba(0,0,0,0.1) }
		.chip .material-icons.left { line-height: 32px; margin-right: 6px; }
		.chip { font-size: 0.8rem; }
		body { margin: 0 88px 0 144px; overflow-y: scroll; }
		.background { position: absolute; top: 0; left: 0; height: 300px; width: 100%; z-index: -2; }
		.logo { height: 36px; margin: 14px; }
		nav ul li a { text-transform: uppercase; font-size: 0.8rem; font-weight: bold; }
		.menu { position: fixed; top: 0; left: 0; height: 100%; width: 56px; border: 0px; padding-top: 120px; text-align: center; }
		.title { font-size: 1.64rem; height:64px; line-height: 64px; }
		.title .left { }
		.title .right { }
		.title .material-icons { width:54px; height: 64px; line-height: 64px; text-align: center; }
		.title .material-icons:hover { background-color: rgba(0,0,0,0.1) }
		.fixed-action-btn-menu { position: fixed; top: 36px; left: 28px; width: 56px; height: 56px; }
		.tabs { border-bottom: 1px solid #dddddd; }
		.tabs .indicator { display: none; }
		.tabs .tab a, .tabs .tab a:hover { color: #000000; }
		.tabs .tab a { color: #000000; }
		.tabs .tab a.active { color: #000000; font-weight: bold; border-bottom: 3px solid #000000; }
		.uppercase { text-transform: uppercase; }
		.b { font-weight: bold; }
		p + .timeline { margin-top: 24px; }
		.side-nav { margin-top: -64px; }
		h5 + .timeline { margin-top: 24px; }
		.card-panel h5:first-child { margin-top: 0; }
		input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea { box-sizing: border-box; }
		select.browser-default { margin: 0 0 20px 0; }
		.cursor-pointer { cursor: pointer; }
		.dropdown-content li>a { line-height: normal; padding: 12px; font-size: 1rem; color: #000; }
		.controlar { display: none; }