extends base/layout.pug

block vars
	- var title = 'Logos'

block content
	h2 Logos

	.section
		h4 Branco
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.
		.row
			.col.s12
				.card-panel.center.black
					img(src="http://localhost/cdn/myrp/img/logo-myrp-branco.png", style="width:50%")
	.section
		h4 Colorido
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.
		.row
			.col.s12
				.card-panel.center.white
						img(src="http://localhost/cdn/myrp/img/logo-myrp-colorido.png", style="width:50%")