extends base/layout.pug

block vars
	- var title = 'Sidenavs'

block content
	h2 Side navs

	.section
		h4 Contendo um menu
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.
		ul#side-nav1.side-nav
			li
				.center.blue
					img(src='http://localhost/cdn/myrp/img/logo-myrp-branco.png', style='width: auto; height: 48px; margin: 24px')
			li
				a(href='#!')
					i.material-icons cloud
					| Item 1
			li
				a(href='#!')
					i.material-icons cloud
					| Item 2
			li
				a(href='#!')
					i.material-icons cloud
					| Item 3
			li
				.divider
			li
				a(href='#!')
					i.material-icons cloud
					| Item 4
		a#button-side-nav1.btn.button-collapse(href='#', data-activates='side-nav1') Abrir

		p
			include page-contents/sidenavs/sidenav.html

	.section
		h4 Contendo um formulário
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.
		a#button-side-nav2.btn.button-collapse(href="#", data-activates="side-nav2") Abrir formulário

		div#side-nav2.side-nav.card-panel
			h5 Título
			div.row
				div.col.s12.m6.input-field
					input#input1(type="text")
					label(for="input1") Texto
				div.col.s12.m6.input-field
					input#input2(type="text")
					label(for="input2") Texto
				div.col.s12.m6.input-field
					input#input3(type="text")
					label(for="input3") Texto
				div.col.s12.m6.input-field
					input#input4(type="text")
					label(for="input4") Texto
			div.right-align
				a.btn-flat Cancelar
				a.btn.btn-large.green Confirmar

		p
			include page-contents/sidenavs/sidenav-form.html

	.section
		h4 Contendo uma timeline
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.
		a#button-side-nav3.btn.button-collapse(href="#", data-activates="side-nav3") Abrir timeline

		div#side-nav3.side-nav.card-panel
			h5 Título
			.timeline
				.timeline-header
					.timeline-title Data
				.timeline-item
					i.material-icons.light-green-text check_circle
					.timeline-title Hora
					.timeline-actions
						a.btn-flat.blue-text Link 1
						a.btn-flat.blue-text Link 2
					.timeline-content
						div Primeira linha
						label Segunda linha
				.timeline-item
					i.material-icons.orange-text warning
					.timeline-title Hora
					.timeline-actions
						a.btn-flat.blue-text Link 1
						a.btn-flat.blue-text Link 2
					.timeline-content
						div Primeira linha
						label Segunda linha
				.timeline-item
					i.material-icons.grey-text schedule
					.timeline-title Hora
					.timeline-actions
						a.btn-flat.blue-text Link 1
						a.btn-flat.blue-text Link 2
					.timeline-content
						div Primeira linha
						label Segunda linha

		p
			include page-contents/sidenavs/sidenav-timeline.html

	script(type='text/javascript').
		$('#button-side-nav1').sideNav({
			closeOnClick: true
		});

		$('#button-side-nav2').sideNav({
			menuWidth: 700,
			edge: 'right'
		});

		$('#button-side-nav3').sideNav({
			menuWidth: 700,
			edge: 'right'
		});