extends base/layout.pug

block vars
	- var title = 'Timelines'

block content
	h2 Timelines

	.section
		h4 Padrão
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.
		.row
			.col.s12
				.card-panel
					.timeline
						.timeline-header
							.timeline-title Data
						.timeline-item
							i.material-icons.light-green-text check_circle
							.timeline-title Hora
							.timeline-content
								div Primeira linha
								label Segunda linha
						.timeline-item
							i.material-icons.orange-text warning
							.timeline-title Hora
							.timeline-content
								div Primeira linha
								label Segunda linha
						.timeline-item
							i.material-icons.grey-text schedule
							.timeline-title Hora
							.timeline-content
								div Primeira linha
								label Segunda linha
			.col.s12
				include page-contents/timelines/timeline.html
	
	.section
		h4 Com ações
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.
		.row
			.col.s12
				.card-panel
					.timeline
						.timeline-header
							.timeline-title Data
						.timeline-item
							i.material-icons.light-green-text check_circle
							.timeline-title Hora
							.timeline-actions
								a.btn-flat.blue-text Link 1
								a.btn-flat.blue-text Link 2
							.timeline-content
								div Primeira linha
								label Segunda linha
						.timeline-item
							i.material-icons.orange-text warning
							.timeline-title Hora
							.timeline-actions
								a.btn-flat.blue-text Link 1
								a.btn-flat.blue-text Link 2
							.timeline-content
								div Primeira linha
								label Segunda linha
						.timeline-item
							i.material-icons.grey-text schedule
							.timeline-title Hora
							.timeline-actions
								a.btn-flat.blue-text Link 1
								a.btn-flat.blue-text Link 2
							.timeline-content
								div Primeira linha
								label Segunda linha
			.col.s12
				include page-contents/timelines/timeline-actions.html