.timeline { border-left: 1px solid #dddddd; padding-left: 24px; margin-left: 75px; }

.timeline-item { min-height: 68px; margin: 0; border-bottom: 1px solid #dddddd; }
.timeline-item .timeline-title { position: absolute; margin: 26px 0 0 -150px; z-index: 996; width: 100px; text-align: right; font-size: 0.8rem; }
.timeline-item > .material-icons { position: absolute; z-index: 996; margin: 22px 0 0 -36px; color: #cccccc; cursor: pointer; border-radius: 50%; background-color: #ffffff; }
.timeline-item > .preloader-wrapper { position: absolute; z-index: 996; margin: 22px 0 0 -36px; color: #cccccc; cursor: pointer; border-radius: 50%; background-color: #ffffff; }
.timeline-item .spinner-layer { border-color: #9e9e9e !important; }
.timeline-item .dropdown-content { min-width: 200px; }
.timeline-item:last-child { border: none; }

.timeline-header { }
.timeline-header .timeline-title { position: absolute; margin: -8px 0 0 -150px; z-index: 996; width: 100px; text-align: right; font-size: 0.8rem; text-transform: uppercase; font-weight: bold; }
.timeline-header > .material-icons { position: absolute; z-index: 996; margin: -6px 0 0 -36px; color: #cccccc; cursor: pointer; border-radius: 50%; background-color: #ffffff; }

.timeline-content { padding: 12px 0; min-height: 68px; margin: 0; }
.timeline-content i { margin-top: 9px; width: 24px; height: 24px; }
.timeline-content .preloader-wrapper { margin: 10px 15px 0 0; }
.timeline-content .truncate * { display: inline-block; }

.timeline-actions { float: right; padding: 0; margin-top: 16px; white-space: nowrap; }
.timeline-actions a { margin: 0; padding: 0 6px; font-size: 0.9rem; }
.timeline-actions i { margin: 0 !important; }

.list { }

.list-item { min-height: 68px; margin: 0; border-bottom: 1px solid #dddddd; }
.list-item .dropdown-content { min-width: 200px; }
.list-item:last-child { border: none; }

.list-content { padding: 12px 0; min-height: 68px; margin: 0; }
.list-content i { margin-top: 9px; width: 24px; height: 24px; text-align: center; }
.list-content .preloader-wrapper { margin: 10px 15px 0 0; }
.list-content .truncate * { display: inline-block; }

.list-actions { float: right; padding: 0; margin-top: 16px; white-space: nowrap; }
.list-actions a { margin: 0; padding: 0 6px; font-size: 0.9rem; }
.list-actions i { margin: 0 !important; }

.table-sheet tbody td { cursor: pointer; }
.table-sheet .edit { position: absolute; padding: 0 12px; margin: -12px -12px; display: none; width: 250px; background-color: #ffffff; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); }
.table-sheet .edit select { margin-bottom: 20px; }

.chip .material-icons.left { line-height: 32px; margin-right: 6px; }

table.bordered tr:last-child { border: none; }
table { font-size: 1rem; }
td { width: 1%; }

select.browser-default { background-color: transparent; border: none; border-bottom: 1px solid #9e9e9e; border-radius: 0; outline: none; height: 3rem; width: 100%; font-size: 1rem; margin: 0; padding: 0; box-shadow: none; box-sizing: content-box; transition: all .3s; cursor: pointer; display: inline-block; }
select.browser-default:disabled, select.browser-default[readonly="readonly"] { color: rgba(0, 0, 0, 0.26); border-bottom: 1px dotted rgba(0, 0, 0, 0.26); }
select.browser-default:disabled + label, select.browser-default[readonly="readonly"] + label { color: rgba(0, 0, 0, 0.26); }
select.browser-default:focus:not([readonly]) { border-bottom: 1px solid #26a69a; box-shadow: 0 1px 0 0 #26a69a; }
select.browser-default:focus:not([readonly]) + label { color: #26a69a; }
select.browser-default.valid, select.browser-default:focus.valid { border-bottom: 1px solid #4CAF50; box-shadow: 0 1px 0 0 #4CAF50; }
select.browser-default.valid + label:after, select.browser-default:focus.valid + label:after { content: attr(data-success); color: #4CAF50; opacity: 1; }
select.browser-default.invalid, select.browser-default:focus.invalid { border-bottom: 1px solid #F44336; box-shadow: 0 1px 0 0 #F44336; }
select.browser-default.invalid + label:after, select.browser-default:focus.invalid + label:after { content: attr(data-error); color: #F44336; opacity: 1; }
select.browser-default.validate + label { width: 100%; z-index: -1; }
select.browser-default + label:after { display: block; content: ""; position: absolute; top: 65px; opacity: 0; transition: .2s opacity ease-out, .2s color ease-out; }

.input-field label { white-space: nowrap; }
.input-field .prefix { font-size: 1.5rem; margin-top: 0.75rem; cursor: pointer; }
.input-field .prefix ~ label.active { margin-left: 0rem; }
.input-field .prefix ~ input { margin-left: inherit; width: 100%; }
.input-field .prefix:not([style*="display: none"]) ~ input { padding-left: 2.5rem !important; width: calc(100% - 2.5rem); }
.input-field .prefix ~ label { margin-left: 2.5rem; }
.input-field input[type=search]+label { left: 1rem !important; }

/*DARK THEME*/
.white-text, .breadcrumb:before {
    color: #f1f1f1!important
}

.primary-color {
    background-color: #C5E1A5!important
}

.primary-text {
    color: #C5E1A5!important
}

.orange-text {
    color: #ffb13f !important
}

.secondary-color, .switch label input[type=checkbox]:checked+.lever:after, [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after, [type="checkbox"].filled-in:checked+label:after {
    background-color: #29BBFF!important
}

[type="checkbox"].filled-in:checked+label:after {
    border: 2px solid #29BBFF;			
    z-index: 0
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after, [type="checkbox"].filled-in:not(:checked)+label:after {
    border: 2px solid #90A0AB
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #70d2ff
}

.blue-text, .primary-color-text {
    color: #29BBFF!important
}

.dark.gradient {
    background: #02253b; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #02253b 0%, #042943 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #02253b 0%,#042943 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #02253b 0%,#042943 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02253b', endColorstr='#042943',GradientType=1 ) /* IE6-9 fallback on horizontal gradient */
}

.dark-1 {
    background: #214154
}

.grey-text {
    color: #657B8A
}

.dark-text, a.btn.chip.primary-color i, .chip.btn.primary-color.dark-text i {
    color: #02253B
}

.card, .bottom {
    background: #224257
}

.bottom {
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    z-index: 999;
}

.timeline-item, .list-item, thead, table.bordered>thead>tr, table.bordered>tbody>tr {
    border-bottom: 1px solid #a0a0a033;
}

thead, tr, .switch, label {
    color: #90A0AB
}

tr td:not(:first-child), .truncate {
    color: #f1f1f1
}

label.truncate, .timeline-title {
    color: #90A0AB
}

.timeline-item > .material-icons {
    background: #224257
}

.timeline {
    border-left: 1px solid #a0a0a033;
    padding-left: 24px;
    margin-left: 75px
}

a.chip.white.border-chip {
    background: #3D596B!important;
    border: 1px solid transparent!important;
}

.chip .material-icons.left, .chip .material-icons.right {
    color: #BDC6CD
}

.chip input, .chip input:focus {
    color: #f1f1f1
}

.menu-top {
    margin: 20px 0;
    padding: 0
}

.menu-collapsed a {
    background: #224257;
    margin: 10px 0;
    border-radius: 2px
}

.menu-collapsed a:hover {
    background: #203d50
}


/*# sourceMappingURL=/myrp.f3bbc37e.css.map */